<!-- Footer -->
<footer class="p-8 bg-gray-100 md:p-8 lg:p-10 dark:bg-gray-800">
	<div class="mx-auto max-w-screen-xl text-center">
		<a aria-current="page" href="{{ path('app_home') }}" class="router-link-active router-link-exact-active flex justify-center items-center text-2xl font-semibold text-gray-900 hover:text-gray-600 dark:text-white dark:hover:text-gray-300">
			Sassify
		</a>
		<p class="my-6 text-gray-500 dark:text-gray-400">© {{ "now"|date('Y') }} Sassify – Le laboratiore public de projets SaaS.</p>
		<ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
			<li>
				<a aria-current="page" href="{{ path('app_home') }}" class="router-link-active router-link-exact-active mr-4 hover:underline md:mr-6">Accueil</a>
			</li>
			<li>
				<a href="{{ path('app_blog') }}" class="mr-4 hover:underline md:mr-6">Blog</a>
			</li>
			<li>
				<a href="{{ path('app_home') }}" class="mr-4 hover:underline md:mr-6">Politique de confidentialité</a>
			</li>
		</ul>
		<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {{ "now"|date('Y') }}
			<a class="hover:underline">Sassify</a>.
			<br>
			<br>
			Site web réalisé avec 💖 par
			<a href="https://jeremiecode.fr">SnapCode™ Agency</a> • All Rights Reserved.
		</span>
	</div>
</footer>
